.shareto .shareto_pre_label {margin-right: 5px;}
.shareto_icons_admin_settings .icon input {float: left;}
.shareto_icons_admin_settings .icon .form-item label {float: left; margin-right: 5px;}
.shareto_icons_admin_settings .icon .form-item {float: left;margin: 0 10px 0 0;padding: 0;}